epoxya-blog-workflow.json
{
  "name": "Epoxya - Blog Auto Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Tous les matins 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sujets"
        }
      },
      "id": "read-sheets",
      "name": "Lire sujets existants",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Récupérer tous les sujets existants\nconst existingItems = $input.all();\nconst existingTitles = existingItems.map(item => item.json.title || '').filter(t => t);\nconst existingSlugs = existingItems.map(item => item.json.slug || '').filter(s => s);\n\n// Types d'articles possibles\nconst articleTypes = [\n  { type: 'temoignage', label: 'un témoignage client fictif mais réaliste', category: 'Inspirations' },\n  { type: 'conseil', label: 'un article de conseils pratiques', category: 'Conseils' },\n  { type: 'anecdote', label: 'une anecdote de chantier intéressante', category: 'Inspirations' },\n  { type: 'recommandation', label: 'des recommandations pour choisir son sol', category: 'Conseils' },\n  { type: 'info_produit', label: 'une présentation produit/technique Chemtec', category: 'Conseils' }\n];\n\n// Choisir un type aléatoire\nconst chosen = articleTypes[Math.floor(Math.random() * articleTypes.length)];\n\n// Choisir une image aléatoire\nconst images = ['garage2.webp', 'shoowroom2.webp', 'entrepot2.webp', 'apres.webp', 'equipehorizontale.webp'];\nconst chosenImage = images[Math.floor(Math.random() * images.length)];\n\n// Villes belges pour SEO local\nconst villes = ['Bruxelles', 'Liège', 'Charleroi', 'Namur', 'Mons', 'Ixelles', 'Gand', 'Anvers', 'Louvain-la-Neuve', 'Waterloo'];\nconst ville = villes[Math.floor(Math.random() * villes.length)];\n\n// Date du jour\nconst today = new Date().toISOString().split('T')[0];\n\n// Construire la liste des sujets déjà traités\nconst dejaTraites = existingTitles.length > 0 \n  ? existingTitles.map((t, i) => `- ${t}`).join('\\n')\n  : '(aucun sujet encore traité)';\n\nreturn [{\n  json: {\n    articleType: chosen.type,\n    articleTypeLabel: chosen.label,\n    category: chosen.category,\n    image: chosenImage,\n    ville: ville,\n    today: today,\n    dejaTraites: dejaTraites,\n    existingSlugs: existingSlugs\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Préparer le prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{ role: 'user', content: `Tu es le rédacteur SEO d'Epoxya, spécialiste des sols en résine époxy en Belgique. Partenaire officiel Chemtec.\n\nÉcris ${$json.articleTypeLabel} sur le thème des sols époxy.\n\nContraintes :\n- Article en français, 400-600 mots\n- Cibler la ville de ${$json.ville} ou la Belgique en général pour le SEO local\n- Catégorie : \"${$json.category}\"\n- Mentionner Epoxya et/ou Chemtec naturellement\n- Terminer par un appel à l'action (devis gratuit, appeler +32 486 804 357)\n- Le contenu doit être en HTML valide (p, h2, h3, ul, li, strong uniquement)\n- readTime estimé en minutes\n\nSujets DÉJÀ traités (NE PAS répéter) :\n${$json.dejaTraites}\n\nRéponds UNIQUEMENT avec un JSON valide (pas de markdown, pas de backticks) au format exact suivant :\n{\n  \"slug\": \"mon-titre-en-kebab-case\",\n  \"title\": \"Mon titre accrocheur avec mot-clé SEO\",\n  \"excerpt\": \"Résumé en 1-2 phrases pour la carte du blog\",\n  \"category\": \"${$json.category}\",\n  \"content\": \"<p>Contenu HTML complet...</p>\",\n  \"readTime\": \"5 min\"\n}` }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-claude",
      "name": "Claude - Rédiger article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parser la réponse Claude\nconst response = $input.first().json;\nconst textContent = response.content[0].text;\n\n// Extraire le JSON de la réponse\nlet article;\ntry {\n  // Nettoyer si Claude met des backticks\n  let cleaned = textContent.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/```json?\\n?/g, '').replace(/```$/g, '').trim();\n  }\n  article = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Impossible de parser la réponse Claude: ' + textContent.substring(0, 200));\n}\n\n// Récupérer les données du noeud précédent via le workflow\nconst prepData = $('Préparer le prompt').first().json;\nconst today = prepData.today;\nconst image = prepData.image;\nconst articleType = prepData.articleType;\n\n// Valider et nettoyer le slug\nlet slug = article.slug\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9-]/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// Vérifier que le slug n'existe pas déjà\nconst existingSlugs = prepData.existingSlugs || [];\nif (existingSlugs.includes(slug)) {\n  slug = slug + '-' + Date.now().toString().slice(-4);\n}\n\n// Construire l'article complet\nconst fullArticle = {\n  slug: slug,\n  title: article.title,\n  category: article.category || prepData.category,\n  date: today,\n  image: image,\n  readTime: article.readTime || '4 min',\n  content: article.content\n};\n\n// Construire l'entrée pour articles.json\nconst indexEntry = {\n  slug: slug,\n  title: article.title,\n  excerpt: article.excerpt || article.title,\n  category: article.category || prepData.category,\n  date: today,\n  image: image,\n  readTime: article.readTime || '4 min'\n};\n\nreturn [{\n  json: {\n    slug: slug,\n    title: article.title,\n    category: article.category || prepData.category,\n    articleType: articleType,\n    date: today,\n    fullArticle: JSON.stringify(fullArticle, null, 2),\n    indexEntry: JSON.stringify(indexEntry),\n    fullArticleObj: fullArticle,\n    indexEntryObj: indexEntry\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parser réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sujets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "slug": "={{ $json.slug }}",
            "title": "={{ $json.title }}",
            "category": "={{ $json.category }}",
            "type": "={{ $json.articleType }}"
          }
        }
      },
      "id": "save-to-sheets",
      "name": "Sauver sujet dans Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "=blog/articles/{{ $json.slug }}.json",
        "fileContent": "={{ $json.fullArticle }}",
        "commitMessage": "=blog: ajout article - {{ $json.title }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "github-push-article",
      "name": "GitHub - Push article",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1320, 400],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "blog/articles.json",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "github-read-index",
      "name": "GitHub - Lire articles.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1540, 400],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le contenu actuel de articles.json\nconst githubData = $input.first().json;\nlet currentContent;\nif (typeof githubData.content === 'string') {\n  try {\n    currentContent = Buffer.from(githubData.content, 'base64').toString('utf8');\n  } catch(e) {\n    currentContent = githubData.content;\n  }\n} else {\n  currentContent = JSON.stringify(githubData.content);\n}\nconst articles = JSON.parse(currentContent);\n\n// Récupérer le nouvel article depuis le noeud 'Parser réponse Claude'\nconst parseData = $('Parser réponse Claude').first().json;\nconst newEntry = JSON.parse(parseData.indexEntry);\n\n// Ajouter au début du tableau (plus récent en premier)\narticles.unshift(newEntry);\n\n// Retourner le contenu mis à jour\nreturn [{\n  json: {\n    updatedContent: JSON.stringify(articles, null, 2),\n    sha: githubData.sha\n  }\n}];"
      },
      "id": "update-index",
      "name": "Mettre à jour articles.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "blog/articles.json",
        "fileContent": "={{ $json.updatedContent }}",
        "commitMessage": "blog: mise à jour index articles.json",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          },
          "sha": {
            "sha": "={{ $json.sha }}"
          }
        }
      },
      "id": "github-push-index",
      "name": "GitHub - Update articles.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1980, 400],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub"
        }
      }
    }
  ],
  "connections": {
    "Tous les matins 8h": {
      "main": [
        [
          {
            "node": "Lire sujets existants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire sujets existants": {
      "main": [
        [
          {
            "node": "Préparer le prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer le prompt": {
      "main": [
        [
          {
            "node": "Claude - Rédiger article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Rédiger article": {
      "main": [
        [
          {
            "node": "Parser réponse Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser réponse Claude": {
      "main": [
        [
          {
            "node": "Sauver sujet dans Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub - Push article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Push article": {
      "main": [
        [
          {
            "node": "GitHub - Lire articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Lire articles.json": {
      "main": [
        [
          {
            "node": "Mettre à jour articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre à jour articles.json": {
      "main": [
        [
          {
            "node": "GitHub - Update articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "epoxya",
      "id": "1"
    },
    {
      "name": "blog",
      "id": "2"
    }
  ]
}
